#todo {
    margin: auto;
    width: 40%;
    border: 5px solid #FFFF00;
    padding: 10px;    
    background: #5F85DB;
    color: #fff;
  }
#todo-form {
text-align: center;
margin: auto;
display: block;

}
table, th, td{
  border: 1px solid black;
  width: auto;
  list-style-type:none;
  width:max-contents;

}