<html>
<head>
    <title>To-do List</title>
    <link rel="stylesheet" href="../public/style/style.css" />
</head>
<body>
    <div id="todo">
        <table>
            <tr >
                <th colspan="3">
                <from id="todo-form" method="POST" action="/">
                    <h2>To-do web-application</h2>
                    <input type="text" id="task" name="taskName" placeholder="add tasks" required />
                    <button type="submit" id="submit-task">Add</button>
                <!-- </from> -->

                </th>
            </tr>
            <!-- the above only the form -->
            <% tasks.forEach(function(task){ %>
            <tr>
                   <td class="item">
                    <%= task["task"] %>
                    </td>
                   <td>
                    <button id="delete-task" type="submit" data-task="<%= task._id %>"> Delete</button>
                   </td>
           </tr>
           <% }); %>
        </from>

        </table>

    </div>

<script src="../public/js/todoRequest.js"></script>
</body>
</html>