<html>
<head>
    <title>To-do List</title>
    <link rel="stylesheet" href="../public/style/style.css">
</head>
<body>

    <div id="todo">
        <from id="todo-form">
            <h2>To-do web-application</h2>
            <input type="text" placeholder="add tasks" required />
            <button type="submit">Add</button>
        </from>

        <ul>
            <li>static item</li>
        </ul>
    </div>


</body>
</html>